<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
   <% end  %>
<% end %>


<%= form_for @signup do |f| %>

  <%= f.label :camper_id %>
  <%= f.collection_select :camper_id, Camper.all, :id, :name%>
  <br>
  <br>
  <%= f.label :activity_id %>
  <%= f.collection_select :activity_id, Activity.all, :id, :name %>
  <br>
  <br>
  <%= f.label :time %>
  <%= f.number_field :time %>
  <br>
  <br>
  <%= f.submit %>

<% end %>


<%# , within: 0..23  %>